<h1 class="sign-in-title">Se Connnecter</h1>
<form [formGroup]="signInForm" action="" class='sign-in-form' (ngSubmit)="onSubmit()">
  <div class="sign-in-form__err-box">
    <p class="red-text text-align-center" *ngIf="!statusConnection">
      {{errText}}
    </p>
  </div>
  <label class="sign-in-form__label" htmlFor='nom'>Nom</label>
  <input 
    class="sign-in-form__input" 
    required 
    type="text" 
    id='nom' 
    name='nom' 
    formControlName="nom"
  />

  <label class="sign-in-form__label" htmlFor="password">Mot de Passe</label>
  <input 
    class="sign-in-form__input" 
    required  
    type="password" 
    id='motDePasse' 
    name='motDePasse' 
    formControlName="motDePasse"
  />
  
  <button  class="sign-in-form__button">Se Connnecter</button>
</form>

<p class="green-text text-align-center" *ngIf="statusConnection">
  Vous avez connecté avec succès, 
  <a class="navbar__ul__li__a" routerLink="/" >allez à la page d'accueil.</a>
</p>