.sign-in-title {
    text-align:center;
    margin: 40px 0;
}
.sign-in-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.sign-in-form__label {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 10px;
}
.sign-in-form__input {
    padding: var(--input-padding-x) var(--input-padding-y);
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.sign-in-form__button {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    transition: 0.3s;
}

.sign-in-form__button:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
}