<nav class="navbar">
  <ul class="navbar__ul">
    <li class="navbar__ul__li"><a class="navbar__ul__li__a" routerLink="/" >Home</a></li>
    <li class="navbar__ul__li right-align"><a class="navbar__ul__li__a" routerLink="/sign-in" >Se Connecter</a></li>
    <li class="navbar__ul__li"><a class="navbar__ul__li__a" routerLink="/sign-up" >S'inscrire</a></li>
    <li (click)="deconnecter()" class="navbar__ul__li"><p class="navbar__ul__li__p">Déconnecter</p></li>
  </ul>
</nav>
<router-outlet></router-outlet>