:root {
    --smurf-blue: rgb(70, 149, 214);
    --input-padding-x: 6px;
    --input-padding-y: 14px;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.text-align-center {
    text-align: center;
}
.green-text {
    margin-top: 20px;
    color: rgb(38, 62, 2);
}
.green-text > a {
    text-decoration: none;
    transition: 0.3s;
}
.green-text > a:hover {
    color: orange;
}
