.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    grid-gap: 20px;
    text-transform: capitalize;
}
.home-err-box {
    grid-column: 1 / -1;
}
.schtroumpfs__list__div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
.profil__div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil__div__utilisateur-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil__div__utilisateur-box__h3 {
    text-align: center;
    margin: 10px 0;
}
.profil__div__utilisateur-box__button {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    transition: 0.3s;
}

.profil__div__utilisateur-box__button:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
}
.mes-amis-ul {
    width: 100%;
}
.profil-ami {
    margin-top: 4px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--smurf-blue);
    padding: 2px;
    justify-content: space-between;
}
.btn-enlever {
    border: none;
    background-color: red;
    color: aliceblue;
    padding: 4px 8px;
    border-radius: 5px;
    transition: .3s;
}

.btn-enlever:hover {
    opacity: 0.8;
    cursor: pointer;
}
.modifier__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.edit-title {
    text-align:center;
    margin: 40px 0 20px;
}
.edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.edit-form__label {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 10px;
}
.edit-form__input {
    padding: var(--input-padding-x) var(--input-padding-y);
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
}
.edit-form__select {
    padding: var(--input-padding-x) var(--input-padding-y);
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
}
.edit-form__button {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    transition: 0.3s;
}

.edit-form__button:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
}
.schtroumpfs__list__div__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.schtroumpfs__list__div__container__btn {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}

.schtroumpfs__list__div__container__btn:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
}