.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    grid-gap: 20px;
    text-transform: capitalize;
}
.home-err-box {
    grid-column: 1 / -1;
}
.schtroumpfs-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.profil__div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil__div__utilisateur-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 12px turquoise;
    border-radius: 5px;
}
.profil__div__utilisateur-box__h3 {
    text-align: center;
    margin: 10px 0;
}
.profil__div__utilisateur-box__button {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1.4rem;
    transition: 0.3s;
}

.profil__div__utilisateur-box__button:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    box-shadow: 0px 0px 6px var(--smurf-blue);
    cursor: pointer;
}
.mes-amis-ul {
    width: 100%;
}
.profil-ami {
    margin-top: 4px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--smurf-blue);
    padding: 2px;
    justify-content: space-between;
}
.btn-enlever {
    border: none;
    background-color: red;
    color: aliceblue;
    padding: 4px 8px;
    border-radius: 5px;
    transition: .3s;
}

.btn-enlever:hover {
    opacity: 0.8;
    cursor: pointer;
}
.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.edit-title {
    text-align:center;
    margin: 40px 0 20px;
}
.edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.edit-form-label {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 10px;
}
.edit-form-input {
    padding: var(--input-padding-x) var(--input-padding-y);
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
}
.edit-form-select {
    padding: var(--input-padding-x) var(--input-padding-y);
    border-radius: 15px;
    border: none;
    background-color: rgb(241, 241, 241);
}
.edit-form-button {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    transition: 0.3s;
}

.edit-form-button:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 0px 6px var(--smurf-blue);
}
.schtroumpf-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    box-shadow: 4px 4px 6px lightgray;
    padding: 5px;
    border-radius: 5px;
}
.schtroumpf-cards:hover {
    box-shadow: 0px 0px 6px var(--smurf-blue);
}

.schtroumpf-card-btn {
    background-color: var(--smurf-blue);
    color: whitesmoke;
    padding: var(--input-padding-x) var(--input-padding-y);
    margin-top: 20px;
    border: none;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s;
}

.schtroumpf-card-btn:hover {
    color: var(--smurf-blue);
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 0px 6px var(--smurf-blue);
}

@media (max-width: 720px) {
    .schtroumpfs-list-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 480px) {
    .schtroumpfs-list-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
    
}